/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header .header__info{
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.goals__input_text,
.goals__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.goals__wrapper {
  display: flex;
}
.goals__list {
  margin: 0;
  padding: 0px;
}
.goals__item,
.goals__title {
  list-style: none;
}
.goals__input,
.goals__btn{
  outline: none;
}
.goals__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.goals__btn:hover {
  color: #3a3a3a;
}
/* Heading */
.header__title{
  display: none;
}
.goals__title,
.goals__label_add-new {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.goals__input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.goals__input_text:focus {
  color: #333;
}

/* New Task */
#top-section .goals__title {
  margin: 0 0 20px;
}
.goals__input#new-task {
  width: 318px;
}

/* Task list */
.goals__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goals__input,
.goals__label,
.goals__btn
.goals__img{
  vertical-align: middle;
}

.goals__item > .goals__input_checkbox {
  margin: 0 10px;
}
.goals__item > .goals__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.goals__item > .goals__input_text {
  width: 226px;
}
.goals__btn.goals__btn_delete .goals__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.goals__btn.goals__btn_delete .goals__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.goals__list#completed-tasks .goals__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.goals__list .goals__item .goals__input_text {
  display: none;
}


.goals__list .goals__item_edit .goals__input_text {
  display: inline-block;
  width: 224px;
}

.goals__list .goals__item_edit .goals__label {
  display: none;
}